 
*{
  border-sizing:border-box;
  margin:0;
  padding:0;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  font-size:16px;
}
.container{
  max-width:1100px;
  margin:0 auto;
  padding:0 30px;
}
.navbar{
  background:#52154E;
    color:#e5e7eb;
  height:100px;
}
.header{
   background:#52154E;
    color:#e5e7eb;
}
ul{
  list-style-type:none;
}
.navbar .logo{
  font-size:24px;
  font-weight:bold;
   color:#f9faf8;
}
.navbar .container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:100%;
}
.navbar a{
  text-decoration:none;
  font-size:18px;
}
.navbar ul{
  display:flex;
  
}
.navbar ul li{
  margin-left:20px;
}
.header{
  height:400px;
}
.header .container{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
img{
  max-width:100%;
}
.heading{
  font-size:48px;
  font-weight:extra-bold;
  color:#f9faf8;
  line-height:2;
}
.subtext{
  font-size:18px;
  color:#e5e7eb;
}
button{
  background:#3882f6;
  color:white;
  padding:10px;
}
.navbar a::hover{
  color:#3882f6;
}
.middle-section .container{
  display:flex;
  justify-content:center;
}
.middle-section h2{
  text-align:center;
  font-size:36px;
  color:#1f2937;
  font-weight:36px;
}
.box{
  flex:1;
  margin:10px;
}
.box img{
 
  height:200px;
  width:300px;
}
.quote-section{
 
/*   height:400px;
  background:#e5e7eb;
  color:#1f2937;
  font-style:italic;
  font-size:36px; */
}
.quote-section .container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:400px;
  background:#F9CFF2;
  color:#111344;
  font-style:italic;
  font-size:36px;
  width:100%;
}
.author{
  text-align:right;
  font-weight:bold;

}


.action-box .container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  height:200px;
}

.call .container{
  display:flex;
/*   flex-direction:row;
   justify-content:space-between;
   align-items:center; */
   height:100px;
  width:100%;
  background:#DAE0F2;
 color:#111344;
  border-radius:10px;
    margin: 50px 50px;
    padding: 10px 40px;
}
.signup{
  display:flex;
 align-self:flex-end;
  
}
.signuptext{
  display:flex;
  flex-direction:column;
/*   flex:1; */
}


.footer .container{
  height:100px;
  width:100%;
    background:#52154E;
    color:#e5e7eb;
  display:flex;
  align-items:center;
  justify-content:center;
}